<?xml version="1.0" encoding="utf-8"?>
<phpunit
	bootstrap="tests.php"
	beStrictAboutTestsThatDoNotTestAnything="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
>
	<testsuites>
		<testsuite name="Tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<php>
		<ini name="memory_limit" value="-1" />
		<ini name="default_charset" value="UTF-8" />
		<ini name="mbstring.detect_order" value="ASCII,UTF-8,ISO-8859-1" />
		<ini name="date.timezone" value="Europe/Oslo" />
		<ini name="max_execution_time" value="3600" />
	</php>
</phpunit>
